<!DOCTYPE html>
<html>
<head>
       

</head>

<body  style="background-color: black">
{% extends "base_pro.html" %}
{% block title %} Log in —— {% endblock %}
{% block container%}
<div class="row" style="text-align: center;" >
	<div   class="col-sm-6 col-sm-offset-3">
<img src="../static/log in.jpg">
</div>
</div>
<br><br>
<div class="row" style="text-align: center;">
 <div class="col-sm-4 col-sm-offset-4">
 	<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">&nbsp; Account:&nbsp; </span>
  <input type="text" class="form-control" placeholder="Username or email address" aria-describedby="basic-addon1" style="text-align: center;">
</div>
  <br><br>
  <div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">Password:</span>
  <input type="text" class="form-control" placeholder="Your Password" aria-describedby="sizing-addon2" style="text-align: center;">
</div>
<br><br>
    <div
>
    <form name="form1" action="" method='post'>
    	<button  type="submit" class="btn btn-default"  style="align-items: center;">LOG IN</button></form>

    	<br><br>
    	<a class="button" href="#" style="align-items: center;">Forget password?</a>
    </div>
 </div>
</div></br></br></br></br></br></br></br></br>
<p></p><hr />


{% endblock %}
</body>

</html>
